<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table{
        color: magenta;
        background-color: darkblue;
    }
    tr{
        height: 50px;
        text-align: center;
    }
</style>

        <table border="2" class="order_table table table-danger table-bordered text-center">
            <tr>
                <th width="50%">Product</th>
                <th width="20%">Count</th>
                <th width="20%">Price $/piece</th>
            </tr>
            {% for order in orders %}
                <tr class="order_row table-light">
                    <td>{{ order.product.title }}
                        <button id="delete{{order.product.slug}}" class="delete_order text-danger btn btn-outline-warning float-right">x</button></td>
                    <td>
                        <span id="decrease{{order.id}}" class="change_product_count btn btn-outline-success btn-sm">-</span>
                        <span class="order_count">{{ order.count}}</span>
                        <span id="increase{{order.id}}" class="change_product_count btn btn-outline-success btn-sm">+</span>
                    </td>
                    <td class="order_price">{{ order.product.price}}</td>
                </tr>
            {% endfor %}
        </table>
          <p>Total - <span id="total_price">{{total_price}}$</span></p>


</body>
</html>
